<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="article">
	<div class="article_show">
		<h1 class ="article_header"><%= @article.title %></h1>
	</div>
	<div class="beta-inner">
		<div class= "article-content" >
			<div class="article-image" style='height: 100%; width: 95%; object-fit: contain'>
				<% if @article.image.exists? %>
					<%= image_tag @article.image.url, class: 'article_image' %><br>
				<% end %>
			</div>
			<p><%= @article.body.html_safe %></p>


			<p class="article-time">
				<%= @article.created_at.strftime("%B %d %Y, %l:%M%P") %><br>
				by <%= link_to "#{@article.author.username}", author_path(@article_author)%> 
			</p>

			<p id='tags'>
				Tags:
				<% @article.tags.each do |tag| %>
				<div class="tags">
					<%= link_to tag.name, tag_path(tag) %>
				</div>
				<% end %>
			</p>
			<div class="article-comment">
				<!--<%= render partial: 'articles/comment' , collection: @article.comments %>
				<%= render partial: 'comments/form' %>-->
				<div class="fb-comments" data-numposts="5"></div>

			</div>

			<% if logged_in? %>
			<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Do you want to delete the article?"}, id: 'article-show-link' %>
			<%= link_to "Edit Article", edit_article_path(@article), id: 'article-show-link' %>
			<% end %>
			<div class="share_icons">
				<%= social_share_button_tag("#{@article.title}") %>
			</div>
			<%= link_to "<<Back to Articles List", articles_path %><br>
		</div>
	</div>
</div>
