<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% set_meta_tags description: @article.body.truncate_words(17),
                 keywords: tag.name, 
                 url: article_url(@article),
                 site: "www.jogooletters.com" 
                 %>
<div class="article">
	<div class="article_show">
		<h1 class ="article_header"><%=title @article.title %></h1>
	</div>
	<div class="beta-inner">
		<div class= "article-content" >
			<div class="article-image" style='height: 100%; width: 95%; object-fit: contain'>
				<% if @article.image.exists? %>
					<%= image_tag @article.image.url, class: 'article_image' %><br>
				<% end %>
			</div>
			<p><%= @article.body.html_safe %></p>


			<p class="article-time">
				<%= @article.created_at.strftime("%B %d %Y, %l:%M%P") %><br>
				<% unless @article.author.blank? %>
					by <%= link_to "#{@article.author.username}", author_path(@article_author)%>
				<% end %> 
			</p>

			<p id='tags'>
				Tags:
				<% @article.tags.each do |tag| %>
				<div class="tags">
					<%= link_to tag.name, tag_path(tag) %>
				</div>
				<% end %>
			</p>
			<div class="article-comment">
				<!--<%= render partial: 'articles/comment' , collection: @article.comments %>
				<%= render partial: 'comments/form' %>-->
				<div class="fb-comments" data-numposts="5"></div>

			</div>

			<% if current_user.try(:admin?) || current_user == Article.find(params[:id]).author %>
			<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Do you want to delete the article?"}, id: 'article-show-link' %>
			<%= link_to "Edit Article", edit_article_path(@article), id: 'article-show-link' %>
			<% end %>
			<div class="share_icons">
				<!--<div class="social-share-button fb-follow">
			    <a class="ssb-icon ssb-facebook" href="https://www.facebook.com/sharer/sharer.php?" target="popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?','popup','width=555,height=400'); return false;"></a></div>
			    <%= social_share_button_tag(@article.title, :url => "http://myapp.com/foo/bar", :image => "http://foo.bar/images/a.jpg", desc: "The summary of page", via: "MyTwitterName") %>-->
			    <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
							
			</div>
			<%= link_to "<<Back to Articles List", articles_path %><br>
		</div>
	</div>

			  
</div>
​<script type="text/javascript">
var addthis_config = addthis_config||{};
    addthis_config.data_track_addressbar = false;
    addthis_config.data_track_clickback = false;
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a079d6e1bd51e5e"></script> 