<!DOCTYPE html>
<html>
  <head>
    <title>Jogooletters</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body class="layout-two-column-left" >

<div class="capsule">
    <div id="main">
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId            : 'your-app-id',
              autoLogAppEvents : true,
              xfbml            : true,
              version          : 'v2.10'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
            
        
        <script type="text/coffeescript">$('.list > li a').click ->
          $(this).parent().find('ul').toggle()
          return
        </script>
          <div class='image_top'> <a href="/authors/1"> <%= image_tag "air-mail1.jpg", id: 'image_top'%> </a><br> <p>ABOUT</p></div>
          
        <div id="top-nav">
           <div class="blogname">
            <a href="/">
            <h1>Jogoo letters</h1>
            <h5 id="catch">My Head in my Fingers</h5>
            </a>
          </div>
          <ul>
            <li>
              <%= link_to "Home", root_path %>  
              <%= link_to "All articles", articles_path %>
              <%= link_to "Tags", tags_path %>
              <% if logged_in? %>
              <%= link_to "Authors", authors_path %>
                <% end %>
              </li>
           </ul>

         </div>
            <br class="clear"> 
             <div class="container">
             <p class="flash"><%= flash.notice %></p>
              <div class="content"> 
                <%= yield %>

              </div>
            </div>
            <br class="clear">
            
    </div>
</div>
<div class="footer">

      <hr style="margin: 0;">
        <div class="follow-buttons">
          <p>Follow us:</p>
          <div style="clear: both; overflow: hidden;">
            <div id="fb-follow" data-turbolinks-permanent class="fb-follow" data-href="https://www.facebook.com/kenny.m.mugambi" colorscheme="dark" data-layout="button" data-size="large" data-show-faces="true" ></div>
            <div class="twitter-follow"><a href="https://twitter.com/Jogoo_Letters?ref_src=twsrc%5Etfw" data-button = "grey" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false" style="padding-top: 10px;">Follow @Jogoo_Letters</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
          </div>

          <div><h6>
              <% if logged_in? %>
                <%= "Logged in as #{current_user.email}" %>
                <%= link_to "(logout)", logout_path %>
                <% end %>
            </h6>
          </div>
        </div>
        <br clear="both">
</div>
<script language="javascript" type="text/javascript">
     $(window).load(function() {
     $('#loading').hide();
  });
</script>
</body>
</html>

