<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content='<%= image_url "og.jpg" %>'/>
    <%= display_meta_tags og: {title: :title, site_name: :site, description: :description, url: :url} %>
    <%= display_meta_tags site: 'www.jogooletters.com' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         
  </head>

<body class="layout-two-column-left" >

<div class="capsule">
    <div id="main">
          <div class='image_top'> <a href="/authors/1"> <%= image_tag "air-mail1.jpg", id: 'image_top'%> </a><br> <p class="about">ABOUT</p></div>
          
        <div id="top-nav">
           <div class="blogname">
            <a href="/">
            <h1>Jogoo letters</h1>
            <h5 id="catch">My Head in my Fingers</h5>
            </a>
          </div>
          <ul>
            <li>
              <%= link_to "Home", root_path %>  
              <%= link_to "Posts", articles_path %>
              <%= link_to "Tags", tags_path %>
              <a href="/authors/1"> About </a>
              <% if current_user.try(:admin?) %>
                <%= link_to "Authors", authors_path %>
              <% end %>

              </li>
           </ul>

         </div>
            <br class="clear"> 
             <div class="container">
             <p class="flash"><%= flash.notice %></p>
              <div class="content"> 
                <%= yield %>

              </div>
            </div>
            <br class="clear">
            
    </div>
</div>
<div class="footer">

      <hr style="margin: 0;">
        <div class="follow-buttons">
          <p>Follow us:</p>
          <div style="clear: both; overflow: hidden;">
            <div class="fb-follow"> <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fkenny.m.mugambi&width=78px&height=28&layout=button&size=large&show_faces=true&appId" width="78px" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></div>
            <div class="twitter-follow"><a href="https://twitter.com/Jogoo_Letters?ref_src=twsrc%5Etfw" data-button = "grey" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false" style="padding-top: 10px;">Follow @Jogoo_Letters</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
          </div>

          <div><h6>
              <% if logged_in? %>
                <%= "Logged in as #{current_user.email}" %>
                <%= link_to "(logout)", logout_path %>
                <% end %>
            </h6>
          </div>
        </div>
        <br clear="both">
</div>
<script language="javascript" type="text/javascript">
     $(window).load(function() {
     $('#loading').hide();
  });
</script>

</body>
</html>

